.upload {
    background-color: lightskyblue;
    position: relative;
}

.tip:after {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    opacity: 0;
    z-index: 100;
    left: 50%;
    top: 50%;
    padding-left: 1em;
    padding-right: 1em;
}

.upload:after {
    content: "Uploaded";
}

.upload:hover:after {
    opacity: 1;
}

.upload:before {
    content: "⬆︎";
    padding-left: 0.5em;
    padding-right: 1em;
}

.download {
    background-color: lightgreen;
    position: relative;
}

.download:after {
    content: "Downloaded";
}

.download:hover:after {
    opacity: 1;
}

.download:before {
    content: "⬇︎";
    padding-left: 0.5em;
    padding-right: 1em;
}

.ratio {
    background-color: lightyellow;
    position: relative;
}

.ratio:before {
    content: "⁒";
    padding-left: 0.6em;
    padding-right: 1em;
}

.ratio:after {
    content: "Ratio";
}

.ratio:hover:after {
    opacity: 1;
}

.ratio-split:before {
    content: "/";
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.button-primary.torrent-action {
    padding: 0 1rem;
    width: 2em;
    font-size: larger;
    margin: 0 0.25em 0 0;
}
.torrent-actions {
    display: flex;
}

.size {
    position: relative;
}

.size:after {
    content: "Size in bytes";
}

.size:hover:after {
    opacity: 1;
}

.button-primary.file-action {
    padding: 0 1rem;
    width: 2em;
    font-size: larger;
    margin: 0 0.25em 0 0;
}
.file-actions {
    display: flex;
}

/*** Modal ***/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.modal-body {
    overflow: hidden;
    position: relative;
}

.modal-body:before {
    position: fixed;
    display: block;
    content: '';
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.modal-body:before {
    animation: fadeIn 320ms ease;
    transition: opacity ease 320ms;
}

.modal-body.modal-fadeOut:before {
    opacity: 0;
}

.modal {
    transition: all ease 0.01s;
    display: block;
    opacity: 0;
    height: 0;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modal.modal-visible {
    opacity: 1;
    height: auto;
    bottom: 0;
}

.modal-inner {
    transition: all ease 320ms;
    transform: translateY(-50px);
    position: relative;
    display: inline-block;
    background-color: #fff;
    background: #fff;
    opacity: 0;
    margin: 40px 0;
    border-radius: 4px;
    box-shadow: 0 30px 18px -20px #020202;
}

#modal-delete .modal-inner {
    top: calc(50% - 9em);
}
#modal-delete .modal-content {
    margin-top: 2em;
}

.modal-inner.modal-reveal {
    transform: translateY(0);
    opacity: 1;
}

#modal-files .modal-content {
    margin-top: 1em;
    padding: 0 2em;
}

.js-close-modal {
    transition: color 320ms ease;
    color: #9e9e9e;
    opacity: 0.75;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.js-close-modal:hover {
    color: #000;
}

/*** Modal end ***/