<div>
    <h2>
        <span id="metrics-page-heading" jhiTranslate="metrics.title">Application Metrics</span>

        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon icon="sync"></fa-icon> <span jhiTranslate="metrics.refresh.button">Refresh</span>
        </button>
    </h2>

    <h3 jhiTranslate="metrics.jvm.title">JVM Metrics</h3>

    <div class="row" *ngIf="metrics && !updatingMetrics">
        <rt-jvm-memory
            class="col-md-4"
            [updating]="updatingMetrics"
            [jvmMemoryMetrics]="metrics.jvm">
        </rt-jvm-memory>

        <rt-jvm-threads
            class="col-md-4"
            [threadData]="threads">
        </rt-jvm-threads>

        <rt-metrics-system
            class="col-md-4"
            [updating]="updatingMetrics"
            [systemMetrics]="metrics.processMetrics">
        </rt-metrics-system>
    </div>

    <div *ngIf="metrics && metricsKeyExists('garbageCollector')">
        <h3 jhiTranslate="metrics.jvm.gc.title">Garbage collector statistics</h3>

        <rt-metrics-garbagecollector
            [updating]="updatingMetrics"
            [garbageCollectorMetrics]="metrics.garbageCollector">
        </rt-metrics-garbagecollector>
    </div>

    <div class="well well-lg" *ngIf="updatingMetrics" jhiTranslate="metrics.updating">Updating...</div>

    <rt-metrics-request
        *ngIf="metrics && metricsKeyExists('http.server.requests')"
        [updating]="updatingMetrics"
        [requestMetrics]="metrics['http.server.requests']">
    </rt-metrics-request>

    <rt-metrics-endpoints-requests
        *ngIf="metrics && metricsKeyExists('services')"
        [updating]="updatingMetrics"
        [endpointsRequestsMetrics]="metrics.services">
    </rt-metrics-endpoints-requests>

    <rt-metrics-cache
        *ngIf="metrics && metricsKeyExists('cache')"
        [updating]="updatingMetrics"
        [cacheMetrics]="metrics.cache">
    </rt-metrics-cache>

    <rt-metrics-datasource
        *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
        [updating]="updatingMetrics"
        [datasourceMetrics]="metrics.databases">
    </rt-metrics-datasource>
</div>
