<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/bootstrap/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/files/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/files/@fortawesome/fontawesome-free/js/all.js"></script>
    <script src="/files/sockjs-client/dist/sockjs.min.js"></script>
    <title>Rustorrent {{version}}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <a class="navbar-brand" href="#">
                <i class="fas fa-horse"></i>
                <b>RUST</b>orrent
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-file"></i> Add</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-folder"></i> Open</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-trash"></i> Delete</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="fluid-container">
        <div class="card-group">
            <div class="card col-sm-12 col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">ferris.gif</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Up & Down</h6>
                    <p class="card-text">308 188 bytes.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                            style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a href="#" class="card-link">Pause</a>
                    <a href="#" class="card-link">Info</a>
                </div>
            </div>
            <div class="card col-sm-12 col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">Linux-5.0.1.tar.xz</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Finished</h6>
                    <p class="card-text">10 508 342 bytes.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a href="#" class="card-link">Info</a>
                </div>
            </div>
            {{#each torrents}}
            <div class="card col-sm-12 col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">...</h6>
                    <p class="card-text">{{len}} bytes.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a href="#" class="card-link">Info</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <footer class="rustorrent-footer">
        <div class="rustorrent-footer-gray d-flex justify-content-between">
            <div class="rustorrent-footer-info">
                Copyright © 2019 The Rustorrent Team
            </div>
            <div class="rustorrent-footer-social">
                <a href="https://github.com/kilork/rustorrent" class="text-muted"><i class="fab fa-github"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        var sock = new SockJS('/sock');

        sock.onopen = function () {
            console.log('open');
            sock.send('test');
        };

        sock.onmessage = function (e) {
            console.log('message', e.data);
            sock.close();
        };

        sock.onclose = function () {
            console.log('close');
        };

    </script>
</body>

</html>